<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"
    </head>

<body>
<button>
  <a href="/home">
  <img src ="/static/Images/Actual symbol.jpg" alt="Home button" width="71" height="71"></a>
</button>

<h1>LDM</h1>

<p> </p>

<table style="width:100%">
  <tr>
    <th><h2><a href="/songs"<p style="color:green">Songs</p></a></h2></th>
    <th><h2><a href="/artists"<p style="color:green">Artists</p></a></h2></th>
    <th><h2><a href="/producers"<p style="color:green">Producers</p></a></h2></th>
    <th><h2><a href="/genres"<p style="color:green">Genres</p></a></h2></th>
    <th><h2><a href="/producers"<p style="color:green">Instrumentals</p></a></h2></th>
  </tr>
</table>

<button>
  <a href="https://www.bbc.co.uk/sounds/play/live:bbc_1xtra"</a>
  <img src ="/static/Images/Radio 1Xtra.png" alt="BBC Radio 1Xtra" width="142" height="142">
</button>

<button>
  <a href="/grmdaily"</a>
  <img src ="/static/Images/GRM Daily.jpg" alt="GRM Daily" width="142" height="142">
</button>

<button>
  <a href="/mixtapemadness"</a>
  <img src ="/static/Images/Mixtape Madness.jpg" alt="Mixtape Madness" width="225" height="142">
</button>

<button>
  <a href="/linkuptv"</a>
  <img src ="/static/Images/Link Up TV.jpeg" alt="Link Up TV" width="142" height="142">
</button>

<button>
  <a href="/SBTV: Music"</a>
  <img src ="/static/Images/SBTV.jpeg" alt="SBTV" width="253" height="142">
</button>

<button>
  <a href="/charliesloth"</a>
  <img src ="/static/Images/Charlie Sloth.jpg" alt="Charlie Sloth" width="142" height="142">
</button>

<button>
  <a href="/pressplaymedia"</a>
  <img src ="/static/Images/Pressplay Media.jpg" alt="Pressplay Media" width="142" height="142">
</button>

<button>
  <a href="/P110: Music"</a>
  <img src ="/static/Images/P110.jpg" alt="P110" width="142" height="142">
</button>

<button>
  <a href="/timwestwood"</a>
  <img src ="/static/Images/Tim Westwood.jpg" alt="Tim Westwood" width="142" height="142">
</button>

</body>
</html>